<div>
  <h1 class="h1">GITADORA Tri-boost Skill Simulator(β)</h1>

  <h2 class="h2">これ何？</h2>
  <p><%= link_to "GuitarFreaks & DrumMania Skill Simulator" ,"http://xv-s.heteml.jp/skill/" %> の非公式の後継です．Tri-boostになってから本家が活動停止してスキル表を共有する手立てがなくなったため，またほしい機能を色々実装できればと思い作成しました．</p>

  <h2 class="h2">スキル表の例</h2>
  <%= link_to "こちら", user_path(1) %>．

  <h2>開発者の方へ</h2>
  <p>本アプリは Ruby on Rails 4.x を使って作成されており，ソースコードは<%= link_to "GitHub","https://github.com/kumamotone/gfdm-skill" %>上で公開しています．開発に興味のある方，機能を追加したい方はぜひ開発にご参加ください． また，低価格でまともに動くpaasがあれば教えてください．．</p>

  <h2>Links</h2>
  <ul>
    <li>本家</i>
    <li><%= link_to "http://xv-s.heteml.jp/skill/", "http://xv-s.heteml.jp/skill/" %></li>
    <li>BEMANIWiki 2nd</li>
    <li><%= link_to "http://bemaniwiki.com/index.php?GITADORA%20Tri-Boost" ,"http://bemaniwiki.com/index.php?GITADORA%20Tri-Boost" %> </li>
  </ul>
</div>

