<div>
  <h1 class="h1">GITADORA Tri-boost Skill Simulator</h1>

  <h2 class="h2">これ何？</h2>
  <p><%= link_to "GuitarFreaks & DrumMania Skill Simulator" ,"http://xv-s.heteml.jp/skill/" %> の非公式の後継です．Tri-boostになってから本家が活動停止してスキル表を共有する手立てがなくなったため，また自分好みの機能を色々実装したかったため作成しました．</p>

  <h2 class="h2">スキル表の例</h2>
  <%= link_to "こちら", user_path(1) %>．

  <h2 class="h2">SKILL AVERAGE</h2>
  <p>ある程度ユーザがいないと成り立たないと思いますがほしいので作ります．</p>

  <h2 class="h2">ユーザ検索</h2>
  <p>難しくないと思うのでユーザが増えたら作ります．とりあえず今のところ <%= link_to "ユーザ一覧", 'users#index' %> が見れます．</p>

  <h2 class="h2">理論値計算</h2>
  <p>難しくないと思うので作ります．</p>

  <h2 class="h2">インポート・エクスポート機能</h2>
  <p>ユーザ画面からスキルのエクスポート，インポートができます．将来的にクローラから出力された曲データが読み込めるようになると良いと思います（願望）．</p>

  <h2 class="h2">こんな機能欲しいんだけど？</h2>
  <p>とりあえず<%= link_to "Twitter" ,"https://twitter.com/mimi_nary/" %>にリプもらえればできるものに関しては対応します．未実装の機能について情報共有したりするために掲示板等立てようかと思ってます．</p>

  <h2>開発者の方へ</h2>

  <p>本アプリは Ruby on Rails 4.x を使って作成されており，ソースコードは<%= link_to "GitHub","https://github.com/kumamotone/gfdm-skill" %>上で公開しています．開発に興味のある方，機能を追加したい方はぜひ開発にご参加ください．</p>

  <h2>Links</h2>
  <ul>
    <li>本家</i>
    <li><%= link_to "http://xv-s.heteml.jp/skill/", "http://xv-s.heteml.jp/skill/" %></li>
    <li>BEMANIWiki 2nd</li>
    <li><%= link_to "http://bemaniwiki.com/index.php?GITADORA%20Tri-Boost" ,"http://bemaniwiki.com/index.php?GITADORA%20Tri-Boost" %> </li>
  </ul>
</div>

