<% provide(:title, "ログイン") %>
<h1>ログイン</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "ログイン", class: "btn btn-large btn-primary" %>
    <% end %>

    <p>アカウントがない方は <%= link_to "アカウント作成", signup_path %> できます</p>
  </div>
</div>
