<h2>Hot</h2>
  <table id="sortableTable" class="table table-bordered table-hover table-condensed display compact">
    <thead>
      <tr>
        <th></th>
        <th>曲名</th>
        <th>レベル(自分)</th>
        <th>達成率(自分)</th>
        <th>スキル(自分)</th>
        <th>レベル(ライバル)</th>
        <th>達成率(ライバル)</th>
        <th>スキル(ライバル)</th>
        <th>スキル差分</th>
        <th>コメント</th>
      </tr>
    </thead>

    <tbody>
    <% @merged_skill_hot.each do |music, skill| %>
      <tr class=<%= show_color(skill["me"].kind)  %>>
      <td></td>
      <td>
          <% if current_user != @user %>
            <%= music.name %>
          <% elsif skill["me"].id >= 0 %>
            <%= link_to music.name, edit_skill_path(skill["me"]) %>
          <% else %>
            <%= link_to music.name, new_skill_path(music_id: music.id) %>
          <% end %>
      </td>
      <td><%= number_with_precision(fetch_level(music, skill["me"].kind), precision:2) %> <%= show_kind(skill["me"].kind) %></td>
      <td><%= number_with_precision(skill["me"].rate,precision: 2) %>% (<%= show_rank(skill["me"].rate, skill["me"].isfc) %>) </td>
      <td><%= number_with_precision(skill["me"].sp,precision: 2) %></td>
      <td><%= number_with_precision(fetch_level(music, skill["rival"].kind), precision:2) %> <%= show_kind(skill["rival"].kind) %></td>
      <td><%= number_with_precision(skill["rival"].rate,precision: 2) %>% (<%= show_rank(skill["rival"].rate, skill["rival"].isfc) %>) </td>
      <td><%= number_with_precision(skill["rival"].sp,precision: 2) %></td>
      <td><%= number_with_precision((skill["me"].sp - skill["rival"].sp),precision: 2) %></td>
      <td><%= skill["me"].comment %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

<h2>Other</h2>
  <table id="sortableTable2" class="table table-bordered table-hover table-condensed display compact">
    <thead>
      <tr>
        <th></th>
        <th>曲名</th>
        <th>レベル(自分)</th>
        <th>達成率(自分)</th>
        <th>スキル(自分)</th>
        <th>レベル(ライバル)</th>
        <th>達成率(ライバル)</th>
        <th>スキル(ライバル)</th>
        <th>スキル差分</th>
        <th>コメント</th>
      </tr>
    </thead>

    <tbody>
    <% @merged_skill_other.each do |music, skill| %>
      <tr class=<%= show_color(skill["me"].kind)  %>>
      <td></td>
      <td>
          <% if current_user == @user && skill["me"].sp > 0.0 %>
            <%= link_to music.name, edit_skill_path(skill["me"]) %>
          <% else %>
            <%= music.name %>
          <% end %>
      </td>
      <td><%= number_with_precision(fetch_level(music, skill["me"].kind), precision:2) %> <%= show_kind(skill["me"].kind) %></td>
      <td><%= number_with_precision(skill["me"].rate,precision: 2) %>% (<%= show_rank(skill["me"].rate, skill["me"].isfc) %>) </td>
      <td><%= number_with_precision(skill["me"].sp,precision: 2) %></td>
      <td><%= number_with_precision(fetch_level(music, skill["rival"].kind), precision:2) %> <%= show_kind(skill["rival"].kind) %></td>
      <td><%= number_with_precision(skill["rival"].rate,precision: 2) %>% (<%= show_rank(skill["rival"].rate, skill["rival"].isfc) %>) </td>
      <td><%= number_with_precision(skill["rival"].sp,precision: 2) %></td>
      <td><%= number_with_precision((skill["me"].sp - skill["rival"].sp),precision: 2) %></td>
      <td><%= skill["me"].comment %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
