<% provide(:title, @user.name + ' さんのスキル (GuitarFreaks)') %>
<h1>
  <%= @user.name %> さんのスキル (GuitarFreaks)
</h1>

<p><%= link_to "DrumManiaスキル表へ", drum_user_path %></p>

<div class="well">
  <%= simple_format @user.g_comment %>
</div>

<%= form_tag(guitar_user_path, method: "get") do %>
  <%= label_tag(:rival, "ライバルID:") %>
  <% if @rival == nil then %>
    <%= text_field_tag(:rival) %>
  <% else %>
    <%= text_field_tag(:rival, @rival.id) %>
  <% end %>
  <%= submit_tag("比較") %>
<% end %>

<% if @rival == nil then %>
  <%= render partial: 'sptable', locals: { name: @user.name, sp: @user.g, hot: @user.ghot, other: @user.gother, all: @user.gall, updated_at: @user.skill_updated_at_g, name_rival: nil } %>
  <%= render 'skilltable' %>
<% else %>
  <%= render partial: 'sptable', locals: { name: @user.name, sp: @user.g, hot: @user.ghot, other: @user.gother, all: @user.gall, updated_at: @user.skill_updated_at_g, name_rival: @rival.name, sp_rival: @rival.g, hot_rival: @rival.ghot, other_rival: @rival.gother, all_rival: @rival.gall } %>
  <%= render 'skilltable_with_rival' %>
<% end %>
