<% provide(:title, 'アカウント作成') %>
<h1>アカウント作成</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name, "名前" %>
      <%= f.text_field :name, placeholder: "プロフィール画面に表示されます．" %>

      <%= f.label :email, "メールアドレス" ,class: "control-group" %>
      <%= f.text_field :email, placeholder: "ログインの際に必要になります．" %>

      <%= f.label :password, "パスワード" ,class: "control-group" %>
      <%= f.password_field :password, class: "control-group" %>

      <%= f.label :password_confirmation, "パスワード (確認)" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "アカウント作成", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
