<% provide(:title, @user.name ) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @user.name %> さんのスキル 
      </h1>
    </section>
  </aside>
  <h2>Hot</h2>
  <table class="table table-striped table-bordered table-hover table-condensed">
    <thead>
      <tr>
        <th>順</th>
        <th>曲名</th>
        <th>レベル</th>
        <th>達成率</th>
        <th>スキル</th>
        <th>ランク</th>
        <th>コメント</th>
      </tr>
    </thead>

    <tbody>
    <% @user.skills.each do |skill| %>
      <% if skill.music.ishot == true %>
        <tr class=<%= show_color(skill.kind)  %>>
      <td></td>
      <td><%= link_to skill.music.name, edit_skill_path(skill) %></td>
      <td><%= fetch_level(skill.music_id, skill.kind) %> <%= show_kind(skill.kind) %></td>
      <td><%= skill.rate %> ％</td>
      <td><%= skill.sp %></td>
      <td><%= show_rank(skill.rate, skill.isfc) %></td> 
      <td><%= skill.comment %></td>
    </tr>
  <% end %>
  <% end %>
    </tbody>
  </table>
</div>

