<% provide(:title, @user.name ) %>
<h1>
  <%= @user.name %> 
</h1>

<% if current_user %>
<div class="well">
  公開用URLは http://tri.gfdm-skill.net<%= drum_user_path %> (Drummania) と http://tri.gfdm-skill.net<%= guitar_user_path %> (GuitarFreaks) です．
</div>
<% end %>

<h2><%= link_to "Drummania のスキル表へ", drum_user_path %></h2>

  <%= render 'sptabledrum' %>

<h2><%= link_to "GuitarFreaks のスキル表へ", guitar_user_path %></h2>

  <%= render 'sptableguitar' %>
