<% provide(:title, @user.name ) %>
<h1>
  name: <%= @user.name %> 
</h1>

<div class="well">
  <%= @user.profile %>
</div>

<h2><%= link_to "Drummania のスキル表", drum_user_path %></h2>

  <%= render 'sptabledrum' %>

<h2><%= link_to "GuitarFreaks のスキル表", guitar_user_path %></h2>

  <%= render 'sptableguitar' %>
