<% provide(:title, "パスワードリセット") %>
<h1>パスワードリセット</h1>

<div class="row">
    <div class="form-horizontal" role="form">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

    <div class="form-group">
    <%= f.label :email, :class => "col-xs-offset-1 control-label" %>
    <div class="col-xs-offset-1 col-xs-10">
    	<%= f.email_field :email, class: "form-control", autofocus: true %>
    </div>
  </div>

      <div class="form-group">
      <div class=" col-xs-offset-1 col-xs-10">
    <%= f.submit "パスワードリセットのためのメールを送信する", class: "btn btn-large btn-primary" %>
  </div>
  </div>
<% end %>
</div>
    <div class="col-xs-offset-1">
    <%= render "devise/shared/links" %>
    </div>  
</div>