<table id="sTable_musics" class="table table-striped table-bordered table-hover table-condensed display compact">
  <thead>
  <tr>
    <th rowspan="2">Name</th>
    <th colspan="4">Drum</th>
    <th colspan="4">Guitar</th>
    <th colspan="4">Bass</th>
    <th rowspan="2">id</th>
  </tr>
  <tr>
    <th>BSC</th>
    <th>ADV</th>
    <th>EXT</th>
    <th>MAS</th>
    <th>BSC</th>
    <th>ADV</th>
    <th>EXT</th>
    <th>MAS</th>
    <th>BSC</th>
    <th>ADV</th>
    <th>EXT</th>
    <th>MAS</th>
  </tr>
  </thead>

  <tbody>
  <% @musics.each do |music| %>
      <% unless music.name.include?("汎用") %>
      <tr data-music_id="<%= music.id %>">
        <td><%= music.name %></td>
        <td><%= if music.d_bsc != 0.0
                  number_with_precision music.d_bsc, precision: 2
                else
                  "-"
                end %></td>
        <td><%= if music.d_adv != 0.0
                  number_with_precision music.d_adv, precision: 2
                else
                  "-"
                end %></td>
        <td><%= if music.d_ext != 0.0
                  number_with_precision music.d_ext, precision: 2
                else
                  "-"
                end %></td>
        <td>
          <%= if music.d_mas != 0.0
                number_with_precision music.d_mas, precision: 2
              else
                "-"
              end %>
        </td>
        <td>
          <%= if music.g_bsc != 0.0
                number_with_precision music.g_bsc, precision: 2
              else
                "-"
              end %></td>
        <td><%= if music.g_adv != 0.0
                  number_with_precision music.g_adv, precision: 2
                else
                  "-"
                end %></td>
        <td><%= if music.g_ext != 0.0
                  number_with_precision music.g_ext, precision: 2
                else
                  "-"
                end %></td>
        <td><%= if music.g_mas != 0.0
                  number_with_precision music.g_mas, precision: 2
                else
                  "-"
                end %></td>
        <td><%= if music.b_bsc != 0.0
                  number_with_precision music.b_bsc, precision: 2
                else
                  "-"
                end %></td>
        <td><%= if music.b_adv != 0.0
                  number_with_precision music.b_adv, precision: 2
                else
                  "-"
                end %></td>
        <td><%= if music.b_ext != 0.0
                  number_with_precision music.b_ext, precision: 2
                else
                  "-"
                end %></td>
        <td><%= if music.b_mas != 0.0
                  number_with_precision music.b_mas, precision: 2
                else
                  "-"
                end %></td>
        <td><%= music.id %></td>
      </tr>
  <% end %>
  </tbody>
</table>
