<div class="row">
  <div class="form-horizontal" role="form">
    <%= form_for(@music) do |s| %>
        <%= render 'shared/error_messages', object: s.object %>

        <div class="form-group">
          <%= s.label :name, "曲名", :class => "col-sm-3 control-label" %>
          <div class="col-sm-6">
            <%= s.text_field :name, placeholder: "", class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= s.label :bpm, "BPM", :class => "col-sm-3 control-label" %>
          <div class="col-sm-6">
            <%= s.text_field :bpm, placeholder: "string", class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= s.label :d_bsc, "D_BSC", :class => "col-sm-3 control-label" %>
          <div class="col-sm-6">
            <%= s.text_field :d_bsc, placeholder: "float", class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= s.label :d_adv, "D_ADV", :class => "col-sm-3 control-label" %>
          <div class="col-sm-6">
            <%= s.text_field :d_adv, placeholder: "float", class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= s.label :d_ext, "D_EXT", :class => "col-sm-3 control-label" %>
          <div class="col-sm-6">
            <%= s.text_field :d_ext, placeholder: "float", class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= s.label :d_mas, "D_MAS", :class => "col-sm-3 control-label" %>
          <div class="col-sm-6">
            <%= s.text_field :d_mas, placeholder: "float", class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= s.label :g_bsc, "G_BSC", :class => "col-sm-3 control-label" %>
          <div class="col-sm-6">
            <%= s.text_field :g_bsc, placeholder: "float", class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= s.label :g_adv, "G_ADV", :class => "col-sm-3 control-label" %>
          <div class="col-sm-6">
            <%= s.text_field :g_adv, placeholder: "float", class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= s.label :g_ext, "G_EXT", :class => "col-sm-3 control-label" %>
          <div class="col-sm-6">
            <%= s.text_field :g_ext, placeholder: "float", class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= s.label :g_mas, "G_MAS", :class => "col-sm-3 control-label" %>
          <div class="col-sm-6">
            <%= s.text_field :g_mas, placeholder: "float", class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= s.label :b_bsc, "B_BSC", :class => "col-sm-3 control-label" %>
          <div class="col-sm-6">
            <%= s.text_field :b_bsc, placeholder: "float", class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= s.label :b_adv, "B_ADV", :class => "col-sm-3 control-label" %>
          <div class="col-sm-6">
            <%= s.text_field :b_adv, placeholder: "float", class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= s.label :b_ext, "B_EXT", :class => "col-sm-3 control-label" %>
          <div class="col-sm-6">
            <%= s.text_field :b_ext, placeholder: "float", class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= s.label :b_mas, "B_MAS", :class => "col-sm-3 control-label" %>
          <div class="col-sm-6">
            <%= s.text_field :b_mas, placeholder: "float", class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= s.label :ishot, "HOT?", :class => "col-sm-3 control-label" %>
          <div class="col-sm-offset-3 col-sm-6 col-xs-offset-1">
            <div class="checkbox">
              <%= s.check_box :ishot %></div>
          </div>

        </div>

        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-6">
            <%= s.submit "登録", class: "btn btn-large btn-primary" %>
          </div>
        </div>
    <% end %>
  </div>
</div>
