<div class="row">
  <div class="form-horizontal" role="form">
    <%= form_for(@music) do |s| %>
        <%= render 'shared/error_messages', object: s.object %>

        <div class="form-group">
          <%= s.label :name, "曲名", :class => "col-sm-3 control-label" %>
          <div class="col-sm-6">
            <%= s.text_field :name, placeholder: "前後の空白は登録時に取り除かれます", class: "form-control" %>
          </div>
        </div>

        <!--<div class="form-group">-->
          <!--<%= s.label :bpm, "BPM", :class => "col-sm-3 control-label" %>-->
          <!--<div class="col-sm-6">-->
            <!--<%= s.text_field :bpm, placeholder: "string (なくても登録できます)", class: "form-control" %>-->
          <!--</div>-->
        <!--</div>-->

        <% if mode == "new" then %>
        <div class="form-group">
          <div class="col-sm-3 control-label">難易値簡単入力フォーム</div>
          <div class="col-sm-4">
            <input class="form-control" placeholder="12個のスペース区切りの数値を入力できます" type="text" id="benry">
          </div>
          <div class="col-sm-2">
            <button type="button" id="benrybtn">値をセット</button>
          </div>
        </div>
        <% end %>

        <div class="form-group">
          <%= s.label :d_bsc, "D_BSC", :class => "col-sm-3 control-label" %>
          <div class="col-sm-6">
            <%= s.text_field :d_bsc, placeholder: "float", class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= s.label :d_adv, "D_ADV", :class => "col-sm-3 control-label" %>
          <div class="col-sm-6">
            <%= s.text_field :d_adv, placeholder: "float", class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= s.label :d_ext, "D_EXT", :class => "col-sm-3 control-label" %>
          <div class="col-sm-6">
            <%= s.text_field :d_ext, placeholder: "float", class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= s.label :d_mas, "D_MAS", :class => "col-sm-3 control-label" %>
          <div class="col-sm-6">
            <%= s.text_field :d_mas, placeholder: "float", class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= s.label :g_bsc, "G_BSC", :class => "col-sm-3 control-label" %>
          <div class="col-sm-6">
            <%= s.text_field :g_bsc, placeholder: "float", class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= s.label :g_adv, "G_ADV", :class => "col-sm-3 control-label" %>
          <div class="col-sm-6">
            <%= s.text_field :g_adv, placeholder: "float", class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= s.label :g_ext, "G_EXT", :class => "col-sm-3 control-label" %>
          <div class="col-sm-6">
            <%= s.text_field :g_ext, placeholder: "float", class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= s.label :g_mas, "G_MAS", :class => "col-sm-3 control-label" %>
          <div class="col-sm-6">
            <%= s.text_field :g_mas, placeholder: "float", class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= s.label :b_bsc, "B_BSC(ない場合は0を入力)", :class => "col-sm-3 control-label" %>
          <div class="col-sm-6">
            <%= s.text_field :b_bsc, placeholder: "float", class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= s.label :b_adv, "B_ADV(ない場合は0を入力)", :class => "col-sm-3 control-label" %>
          <div class="col-sm-6">
            <%= s.text_field :b_adv, placeholder: "float", class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= s.label :b_ext, "B_EXT(ない場合は0を入力)", :class => "col-sm-3 control-label" %>
          <div class="col-sm-6">
            <%= s.text_field :b_ext, placeholder: "float", class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= s.label :b_mas, "B_MAS(ない場合は0を入力)", :class => "col-sm-3 control-label" %>
          <div class="col-sm-6">
            <%= s.text_field :b_mas, placeholder: "float", class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= s.label :ishot, "HOT?", :class => "col-sm-3 control-label" %>
          <div class="col-sm-offset-3 col-sm-6 col-xs-offset-1">
            <div class="checkbox">
              <% if mode == "edit" then %>
                <%= s.check_box :ishot %></div>
              <% elsif mode == "new" %>
                <%= s.check_box :ishot, {:checked => true} %></div>
              <% end %>
        </div>

        </div>

        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-6">
            <% if mode == "edit" then %>
                <%= s.submit "編集(多少時間が掛かります)", class: "btn btn-large btn-primary" %>
            <% elsif mode == "new" %>
              <%= s.submit "登録(多少時間が掛かります)", class: "btn btn-large btn-primary" %>
            <% end %>
          </div>
        </div>
    <% end %>
  </div>
</div>
