<h1>Listing musics</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Bpm</th>
      <th>D bsc</th>
      <th>D adv</th>
      <th>D ext</th>
      <th>D mas</th>
      <th>G bsc</th>
      <th>G adv</th>
      <th>G ext</th>
      <th>G mas</th>
      <th>B bsc</th>
      <th>B adv</th>
      <th>B ext</th>
      <th>B mas</th>
    </tr>
  </thead>

  <tbody>
  <% @musics.each do |music| %>
      <% if music.ishot == true >
      <tr>
        <td><%= music.id %></td>
        <td><%= music.name %></td>
        <td><%= music.bpm %></td>
        <td><%= music.d_bsc %></td>
        <td><%= music.d_adv %></td>
        <td><%= music.d_ext %></td>
        <td><%= music.d_mas %></td>
        <td><%= music.g_bsc %></td>
        <td><%= music.g_adv %></td>
        <td><%= music.g_ext %></td>
        <td><%= music.g_mas %></td>
        <td><%= music.b_bsc %></td>
        <td><%= music.b_adv %></td>
        <td><%= music.b_ext %></td>
        <td><%= music.b_mas %></td>
        <td><%= music.ishot %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Music', new_music_path %>
