<header class="navbar navbar-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid">
      <%= link_to "Tri-boost SS",root_path, id: "logo" %>
      <nav>
        <ul class="nav">
          <li><%= link_to "曲一覧", musics_path %></li>
          <% if signed_in? %>
            <li><%= link_to "公開用ページ", current_user %></li>
            <li><%= link_to "スキル登録", new_skill_path %></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                アカウント<b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "ファイルのインポート", manage_user_path(current_user) %></li>
                <li><%= link_to "設定", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "ログアウト", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "ログイン", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
    </div>
  </div>
</header>
